{% extends 'base.html' %}

{% block title %}Recipe List | {{ recipe.name }}{% endblock %}

{% block header %}<h3>{{ recipe.name }}</h3>{% endblock %}
{% block content %}
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>
                {{ ingredient.ingredient.name }}
                {{ ingredient.quantity }}
            </li>
        {% endfor %}
    </ul>
    <p>{{ recipe.author }}</p>
    <br>
    <a href="{% url 'ledger:recipe_list' %}">Return to task list</a>
{% endblock %}
