{% extends 'base.html' %}

{% block title %}Recipe List | {{ recipe.name }}{% endblock %}

{% block content %}
    <h3>{{ recipe.name }}</h3>
    <p>by {{ recipe.author }}</p>
    <br>
    <p>Ingredients:</p>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>
                {{ ingredient.ingredient.name }}
                {{ ingredient.quantity }}
            </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <a href="{% url 'ledger:recipe_list' %}">Return to recipe list</a>
{% endblock %}
