{% extends 'base.html' %}

{% block title %}Recipe List | {{ recipe.name }}{% endblock %}

{% block content %}
    <h3>{{ recipe.name }}</h3>
    {% for image in recipe_images %}
        {% if image.recipe == recipe %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endif %}
    {% endfor %}
    <p>
        Created {{ recipe.created_on|date:'d M Y' }},
        updated {{ recipe.updated_on|date:'d M Y' }}
    </p>
    <p>By {{ recipe.author }}</p>
    <br>
    <p>Ingredients:</p>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>
                {{ ingredient.quantity }}
                {{ ingredient.ingredient.name }}
            </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <a href="{{ recipe.get_absolute_url }}/add_image">
        Add images
    </a>
    <br>
    <br>
    <a href="{% url 'ledger:recipe_list' %}">
        Return to recipe list
    </a>
{% endblock %}
