<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>{% block title %}Recipe Book{% endblock %}</title>
        {% block styles %} {% endblock %}
    </head>

    <body>
        {% block header %}
            <h2>Recipe Book</h2>
            {% if user.is_authenticated %}
                <h3>Hello, {{ user.username }}!</h3>
                {% include 'registration/logout.html' %}
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <br>
            {% endif %}
            <br>
        {% endblock %}
        <div id="content">
            {% block content %} {% endblock %}
        </div>
        {% block scripts %} {% endblock %}
    </body>
</html>
